header {
  background-color: #212529;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

h1 {
  margin: 0;
}

table {
  height: 50vh;
}

thead tr {
  background-color: darkblue;
}

tr {
  line-height: 87px;
}
